.btn-main {
  display: inline-block;
  background-color: chocolate;
  color: white;
  font-weight: 900;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0.3rem 0.3rem 0.3rem 0;
  outline: none;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
  border-radius: 0.2rem;
  cursor: pointer;
}

#main-page {
  margin-top: 1rem;
}

.btn-main:hover {
  transform: translateY(-0.1rem);
}

.btn-main:active {
  transform: translateY(0rem);
}

.conteiner-main {
  background-color: gray;
  height: 70vh;
  padding: 0.5rem;
}

.page-counter {
  margin: 0;
}

.page-name {
  margin: 0;
}

.winner {
  font-weight: 900;
  font-size: 2rem;
}