.container-config {}

.create {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.create-input {
  font-weight: 900;
}

.create-color {
  height: 2.5rem;
  width: 4.5rem;
}

.create-btn {
  background-color: #e6d8d8;
  color: black;
}

.btn-main {}

.update {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.update-input {}

.update-color {
  height: 2.5rem;
  width: 4.5rem;
}

.update-btn {
  background-color: #e6d8d8;
  color: black;
}

.race {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.race-rase-btn {
  background-color: #e45454;
}

.race-rase-btn-disabled {
  background-color: #9b8f8f;
  cursor: default;
}

.race-reset-btn {
  background-color: #72ac3c;
}

.race-cars-btn {}